#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "freescout"
name = "FreeScout"
description.en = "Help desk & shared mailbox"
description.fr = "Service d'assistance et boîte aux lettres partagée"

version = "1.8.198~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-only"
website = "https://freescout.net/"
demo = "https://demo.freescout.net/login"
admindoc = "https://github.com/freescout-helpdesk/freescout/wiki/Installation-Guide"
code = "https://github.com/freescout-helpdesk/freescout"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/freescout-helpdesk/freescout/archive/refs/tags/1.8.198.tar.gz"
    sha256 = "b0da4b131163b06eb66ddacf7f0ff50d77286c2d92e261470e171277ddd797b4"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server, php8.4-mysql, php8.4-mbstring, php8.4-xml, php8.4-imap, php8.4-zip, php8.4-gd, php8.4-curl, php8.4-intl"

    [resources.database]
    type = "mysql"
